# Исключаем файлы Python байт-кода
*.pyc
*.pyo
__pycache__/

# Исключаем файлы данных
*.tsv
*.sqlite3

# Исключаем папки миграций, lib и bin
migrations/
lib/
bin/

# Игнорируем другие системные файлы
*.log
*.pot
*.pyc
*.pyo

# Игнорируем файлы с настройками IDE
.idea/
.vscode/
