# Исключаем файлы Python байт-кода
*.pyc
*.pyo
__pycache__/

# Исключаем файлы данных
*.tsv
*.sqlite3

# Исключаем папки миграций, lib, bin и staticfiles
migrations/
lib/
bin/
staticfiles/
node_modules/

# Игнорируем другие системные файлы
*.log
*.pot
*.pyc
*.pyo

# Игнорируем файлы с настройками IDE
.idea/
.vscode/

# Игнорируем изображения
*.jpg
*.png

# 
*.json

