{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watcherry</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> <!-- Подключение Vue.js -->
</head>
<body>
    <div id="app"></div> <!-- Элемент, в который будет вставляться Vue.js компонент -->
    <script src="{% static 'js/main.js' %}"></script> <!-- Подключение основного JS файла -->
</body>
</html>
